<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692486070838-jkla0m8g45nlsksep38en0hiehnv7mgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692486070838-jkla0m8g45nlsksep38en0hiehnv7mgs</string>
	<key>API_KEY</key>
	<string>AIzaSyBXieQGuUEs_lMB7d-DUSTLPzP81aBtrbI</string>
	<key>GCM_SENDER_ID</key>
	<string>692486070838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boolObjects</string>
	<key>PROJECT_ID</key>
	<string>test-project-7532e</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-7532e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692486070838:ios:51bbf599a7cde25c0a6e97</string>
	<key>DATABASE_URL</key>
	<string>https://test-project-7532e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>